/*RESET START*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300i,400,500');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #f0eaf1;
	line-height: 1;
	font-family: 'Ubuntu', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */


.headline__container {
	background-color: #19111a;
	text-align: center;
	padding-bottom: 30px;


}
.headline__title {
  font-size: 90px;
  padding: 20px;

  color: #da533d;

}
.headline__subtitle {
  font-size: 20px;
		color: white;
		text-align:center;

}
.main_nav{
		text-align: center;

}

#About{
	background-color:white;
	padding:30px;

}

#Team{
	background-color:white;
	padding:30px;

}
#Contact{
	background-color:white;
	padding:30px;

}
h2{
	font-size: 40px;
	font-weight: 500;
	text-align: left;
	color:  #da533d;
	border-bottom:4px solid #19111a;
}

p{
	padding-top: 20px;
}

.gallery.team .photo {

	  display: inline-block;
	width: 40%;
	padding:25px;

}

.gallery.team{
		text-align: center;
}

figcaption{
	font-size: 40px;
	padding-bottom:10px;
}



footer{
		background-color: #19111a;
	color: #da533d;
	padding:30px;
	text-align:center;
	font-size: 15px;
}
